<div class="container mt-5 mb-5">
    <div class="row">
		<div class="col-md-5 mx-auto">
			  <div id="second">
			      <div class="myform form ">
                        <div class="logo mb-3">
                           <div class="col-md-12 text-center">
                              <h1 >Signup</h1>
                           </div>
                        </div>
                        <form action="/register" method="POST" name="registration">
                           <div class="form-group">
                              <label for="firstName">First Name</label>
                              <input type="text"  name="firstName" class="form-control" id="firstName" aria-describedby="nameHelp"
                              placeholder="Enter First Name" value="{{data.formData.firstName}}">
                              {{#if data.errors.firstName}}
                                 <div class="my-feedback" style="color:red;margin-top:5px" > 
                                    <strong>Warning:</strong> {{data.errors.firstName}}
                                 </div>
                              {{/if}}
                           </div>
                           <div class="form-group">
                              <label for="lastName">Last Name</label>
                              <input type="text"  name="lastName" class="form-control" id="lastName" aria-describedby="nameHelp" 
                              placeholder="Enter Last Name" value="{{data.formData.lastName}}">
                              {{#if data.errors.lastName}}
                                 <div class="my-feedback" style="color:red;margin-top:5px" > 
                                    <strong>Warning:</strong> {{data.errors.lastName}}
                                 </div>
                              {{/if}}
                           </div>
                           <div class="form-group">
                              <label for="email">Email address</label>
                              <input type="text" name="email"  class="form-control" id="email" aria-describedby="emailHelp" 
                              placeholder="Enter email" value="{{data.formData.email}}">
                              {{#if data.errors.email}}
                                 <div class="my-feedback" style="color:red;margin-top:5px" > 
                                    <strong>Warning:</strong> {{data.errors.email}}
                                 </div>
                              {{/if}}
                           </div>
                           <div class="form-group">
                              <label for="password">Password</label>
                              <input type="password" name="password" id="password"  class="form-control" aria-describedby="emailHelp" 
                              placeholder="Enter Password" value="{{data.formData.password}}">
                               {{#if data.errors.password}}
                                 <div class="my-feedback" style="color:red;margin-top:5px" > 
                                    <strong>Warning:</strong> {{data.errors.password}}
                                 </div>
                              {{/if}}
                           </div>
                           <div class="col-md-12 text-center mb-3">
                              <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Get Started</button>
                           </div>
                           <div class="col-md-12 ">
                              <div class="form-group">
                                 <p class="text-center"><a href="/login" id="signin">Already have an account?</a></p>
                              </div>
                           </div>
                            </div>
                        </form>
                     </div>
                    </div> 
			    </div>
		    </div>
        </div>   
    </div> 